* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppin", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #e1eec3, #f05053);
  position: relative;
}

.love-card {
  width: 50rem;
  height: 40rem;
  background: linear-gradient(to left, #ffc72a, #e48936);
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  .card-heading {
    font-size: 3.5rem;
    // color: white;
    margin-top: 5rem;
    text-align: center;
    font-weight: 600;
    background: #f4f4f8;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .ans-btn {
    display: flex;
    justify-content: space-around;
  }

  .btn {
    width: 12rem;
    height: 5rem;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    color: #3da4ab;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin-top: 15rem;
    font-weight: 700;

    &:hover {
      color: white;
      background-color: #203a43;
    }
  }

  .heart-icon {
    position: absolute;
    background: red;
    height: 5rem;
    width: 5rem;
    transform: rotate(-45deg) scale(1);
    animation: pulse 2s linear infinite;
    left: 50%;
    top: 40%;
    margin-left: -2.5rem;

    &::after {
      content: "";
      background: inherit;
      border-radius: 50%;
      position: absolute;
      top: -50%;
      left: 0;
      height: 5rem;
      width: 5rem;
    }

    &::before {
      border-radius: 50%; /* To make circle */
      content: "";
      background: inherit;
      position: absolute;
      top: 0;
      right: -50%; /* Inherit properties of parent */
      height: 5rem;
      width: 5rem;
    }
  }

  //   emoij
  .emoji-head {
    background: radial-gradient(circle, #ffc72a 60%, #e48936 75%);
    border-radius: 70%;
    border: 2px solid #e48936;
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
    position: absolute;
    top: -50%;
    left: -50%;
    -webkit-animation: head-move 3s ease-in-out infinite;
    -moz-animation: head-move 3s ease-in-out infinite;
    -o-animation: head-move 3s ease-in-out infinite;
    animation: head-move 3s ease-in-out infinite;
    .inner {
      position: relative;
      width: 100%;
      height: 100%;
      .forehead {
        width: 75%;
        height: 75%;
        margin: 4% 0 0 12.5%;
        border-radius: 50%;
        position: absolute;
        background: linear-gradient(
          rgba(252, 241, 215, 0.7),
          rgba(252, 241, 215, 0) 35%,
          rgba(252, 241, 215, 0)
        );
        -webkit-animation: forehard-move 3s ease-in-out infinite;
        -moz-animation: forehard-move 3s ease-in-out infinite;
        -o-animation: forehard-move 3s ease-in-out infinite;
        animation: forehard-move 3s ease-in-out infinite;
      }
      .eyebrow {
        position: absolute;
        &.eyebrow-l {
          top: 33%;
          left: 17%;
          transform: rotate(-40deg);
          .inner {
            position: relative;
            -webkit-animation: eyebrow-left-move 3s ease-in-out infinite;
            -moz-animation: eyebrow-left-move 3s ease-in-out infinite;
            -o-animation: eyebrow-left-move 3s ease-in-out infinite;
            animation: eyebrow-left-move 3s ease-in-out infinite;
            .eyebrow-l-1 {
              background-color: #754119;
              border-radius: 50%;
              width: 65px;
              height: 30px;
              position: relative;
              &:after {
                content: "";
                background-color: #ffc72a;
                width: 80px;
                height: 25px;
                border-radius: 50%;
                position: absolute;
                top: 11px;
                left: -6px;
              }
            }
          }
        }
        &.eyebrow-r {
          top: 36%;
          left: 59%;
          transform: rotate(15deg);
          .inner {
            position: relative;
            -webkit-animation: eyebrow-right-move 3s ease-in-out infinite;
            -moz-animation: eyebrow-right-move 3s ease-in-out infinite;
            -o-animation: eyebrow-right-move 3s ease-in-out infinite;
            animation: eyebrow-right-move 3s ease-in-out infinite;
            .eyebrow-r-1 {
              background-color: #754119;
              border-radius: 50%;
              width: 65px;
              height: 50px;
              position: relative;
              &:after {
                content: "";
                background-color: #ffc72a;
                width: 85px;
                height: 45px;
                border-radius: 50%;
                position: absolute;
                top: 11px;
                left: -6px;
              }
            }
          }
        }
      }
      .eyes {
        position: absolute;
        top: 140px;
        width: 100%;
        -webkit-animation: eyes-move 3s ease-in-out infinite;
        -moz-animation: eyes-move 3s ease-in-out infinite;
        -o-animation: eyes-move 3s ease-in-out infinite;
        animation: eyes-move 3s ease-in-out infinite;
        .inner {
          position: relative;
          .eye {
            background-color: #754119;
            &.eye-l {
              width: 35px;
              height: 50px;
              border-radius: 50%;
              position: absolute;
              left: 90px;
              -webkit-animation: eye-left-move 3s ease-in-out infinite;
              -moz-animation: eye-left-move 3s ease-in-out infinite;
              -o-animation: eye-left-move 3s ease-in-out infinite;
              animation: eye-left-move 3s ease-in-out infinite;
            }
            &.eye-r {
              width: 55px;
              height: 30px;
              border-radius: 50%;
              position: absolute;
              left: 185px;
              top: 14px;
              -webkit-animation: eye-right-move1 3s ease-in-out infinite;
              -moz-animation: eye-right-move1 3s ease-in-out infinite;
              -o-animation: eye-right-move1 3s ease-in-out infinite;
              animation: eye-right-move1 3s ease-in-out infinite;
              &:after {
                content: "";
                position: absolute;
                width: 65px;
                height: 18px;
                border-radius: 50%;
                top: 0px;
                left: -5px;
                background-color: #ffc72a;
                -webkit-animation: eye-right-move2 3s ease-in-out infinite;
                -moz-animation: eye-right-move2 3s ease-in-out infinite;
                -o-animation: eye-right-move2 3s ease-in-out infinite;
                animation: eye-right-move2 3s ease-in-out infinite;
              }
            }
          }
        }
      }
      .mouth {
        position: absolute;
        top: 210px;
        left: 140px;
        .inner {
          position: relative;
          .upper,
          .lower {
            background-color: #754119;
            width: 50px;
            height: 25px;
            border-radius: 50%;
            &:after {
              background-color: #ffc72a;
              border-radius: 50%;
              content: "";
              width: 50px;
              height: 25px;
              position: absolute;
              left: -8px;
            }
          }
          .upper {
            -webkit-animation: upper-lip-move 3s ease-in-out infinite;
            -moz-animation: upper-lip-move 3s ease-in-out infinite;
            -o-animation: upper-lip-move 3s ease-in-out infinite;
            animation: upper-lip-move 3s ease-in-out infinite;
          }
          .lower {
            width: 45px;
            height: 23px;
            &:after {
              width: 45px;
              height: 23px;
            }
          }
        }
      }
    }
    .heart {
      background-color: red;
      display: inline-block;
      height: 30px;
      margin: 0 10px;
      position: absolute;
      top: 200px;
      left: 200px;
      transform: rotate(-15deg);
      width: 30px;
      -webkit-animation: heart-move 3s ease-in-out infinite;
      -moz-animation: heart-move 3s ease-in-out infinite;
      -o-animation: heart-move 3s ease-in-out infinite;
      animation: heart-move 3s ease-in-out infinite;
      &:before,
      &:after {
        content: "";
        background-color: red;
        border-radius: 50%;
        height: 30px;
        position: absolute;
        width: 30px;
      }
      &:before {
        top: -15px;
        left: 0;
      }
      &:after {
        left: 15px;
        top: 0;
      }
    }
  }

  @-webkit-keyframes heart-move {
    0% {
      opacity: 1;
      -webkit-transform: scale(0) translateX(0px) translateY(10px);
    }
    65% {
      opacity: 1;
      -webkit-transform: scale(0) translateX(35px) translateY(-10px);
    }
    85% {
      opacity: 1;
      -webkit-transform: scale(1.4) translateX(50px) translateY(-20px);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1.4) translateX(50px) translateY(-25px);
    }
  }

  @-moz-keyframes heart-move {
    0% {
      opacity: 1;
      -moz-transform: scale(0) translateX(0px) translateY(10px);
    }
    65% {
      opacity: 1;
      -moz-transform: scale(0) translateX(35px) translateY(-10px);
    }
    85% {
      opacity: 1;
      -moz-transform: scale(1.4) translateX(50px) translateY(-20px);
    }
    100% {
      opacity: 0;
      -moz-transform: scale(1.4) translateX(50px) translateY(-25px);
    }
  }

  @-o-keyframes heart-move {
    0% {
      opacity: 1;
      -o-transform: scale(0) translateX(0px) translateY(10px);
    }
    65% {
      opacity: 1;
      -o-transform: scale(0) translateX(35px) translateY(-10px);
    }
    85% {
      opacity: 1;
      -o-transform: scale(1.4) translateX(50px) translateY(-20px);
    }
    100% {
      opacity: 0;
      -o-transform: scale(1.4) translateX(50px) translateY(-25px);
    }
  }

  @keyframes heart-move {
    0% {
      opacity: 1;
      transform: scale(0) translateX(0px) translateY(10px);
    }
    65% {
      opacity: 1;
      transform: scale(0) translateX(35px) translateY(-10px);
    }
    85% {
      opacity: 1;
      transform: scale(1.4) translateX(50px) translateY(-20px);
    }
    100% {
      opacity: 0;
      transform: scale(1.4) translateX(50px) translateY(-25px);
    }
  }

  @-webkit-keyframes eyes-move {
    0% {
      -webkit-transform: translateY(0px);
    }
    65% {
      -webkit-transform: translateY(0px);
    }
    75% {
      -webkit-transform: translateY(-10px);
    }
    100% {
      -webkit-transform: translateY(0px);
    }
  }

  @-moz-keyframes eyes-move {
    0% {
      -moz-transform: translateY(0px);
    }
    65% {
      -moz-transform: translateY(0px);
    }
    75% {
      -moz-transform: translateY(-10px);
    }
    100% {
      -moz-transform: translateY(0px);
    }
  }

  @-o-keyframes eyes-move {
    0% {
      -o-transform: translateY(0px);
    }
    65% {
      -o-transform: translateY(0px);
    }
    75% {
      -o-transform: translateY(-10px);
    }
    100% {
      -o-transform: translateY(0px);
    }
  }

  @keyframes eyes-move {
    0% {
      transform: translateY(0px);
    }
    65% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes eye-left-move {
    0% {
      height: 50px;
      top: 0;
    }
    65% {
      height: 50px;
      top: 0;
    }
    75% {
      height: 40px;
      top: 5px;
    }
    100% {
      height: 50px;
      top: 0;
    }
  }

  @keyframes eye-right-move1 {
    0% {
      height: 50px;
      width: 35px;
      top: -3px;
    }
    65% {
      height: 50px;
      width: 35px;
      top: -3px;
    }
    75% {
      height: 30px;
      width: 45px;
      top: 17px;
    }
    100% {
      height: 50px;
      width: 35px;
      top: -3px;
    }
  }

  @keyframes eye-right-move2 {
    0% {
      height: 0px;
      top: 36px;
    }
    70% {
      height: 0px;
      top: 36px;
    }
    75% {
      height: 24px;
      top: 14px;
    }
    100% {
      height: 0px;
      top: 56px;
    }
  }

  @keyframes eyebrow-right-move {
    0% {
      top: -8px;
    }
    65% {
      top: -8px;
    }
    75% {
      top: -16px;
    }
    100% {
      top: -8px;
    }
  }

  @keyframes eyebrow-left-move {
    0% {
      top: -2px;
      left: 0;
    }
    65% {
      top: -2px;
      left: 0;
    }
    75% {
      top: -13px;
      left: 10px;
    }
    100% {
      top: -2px;
      left: 0;
    }
  }

  @keyframes forehard-move {
    0% {
      margin-top: 4%;
    }
    65% {
      margin-top: 4%;
    }
    75% {
      margin-top: 3%;
    }
    100% {
      margin-top: 4%;
    }
  }

  @-webkit-keyframes head-move {
    0% {
      -webkit-transform: translateY(0) rotate(0);
    }
    65% {
      -webkit-transform: translateY(0) rotate(0);
    }
    75% {
      -webkit-transform: translateY(-3px) rotate(-6deg);
    }
    100% {
      -webkit-transform: translateY(0) rotate(0);
    }
  }

  @-moz-keyframes head-move {
    0% {
      -moz-transform: translateY(0) rotate(0);
    }
    65% {
      -moz-transform: translateY(0) rotate(0);
    }
    75% {
      -moz-transform: translateY(-3px) rotate(-6deg);
    }
    100% {
      transform: translateY(0) rotate(0);
    }
  }

  @-o-keyframes head-move {
    0% {
      -o-transform: translateY(0) rotate(0);
    }
    65% {
      -o-transform: translateY(0) rotate(0);
    }
    75% {
      -o-transform: translateY(-3px) rotate(-6deg);
    }
    100% {
      -o-transform: translateY(0) rotate(0);
    }
  }

  @keyframes head-move {
    0% {
      transform: translateY(0) rotate(0);
    }
    65% {
      transform: translateY(0) rotate(0);
    }
    75% {
      transform: translateY(-3px) rotate(-6deg);
    }
    100% {
      transform: translateY(0) rotate(0);
    }
  }

  @-webkit-keyframes upper-lip-move {
    0% {
      -webkit-transform: scale(1);
    }
    65% {
      -webkit-transform: scale(1);
    }
    75% {
      -webkit-transform: scale(1.3);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }

  @-moz-keyframes upper-lip-move {
    0% {
      -moz-transform: scale(1);
    }
    65% {
      -moz-transform: scale(1);
    }
    75% {
      -moz-transform: scale(1.3);
    }
    100% {
      -moz-transform: scale(1);
    }
  }

  @-o-keyframes upper-lip-move {
    0% {
      -o-transform: scale(1);
    }
    65% {
      -o-transform: scale(1);
    }
    75% {
      -o-transform: scale(1.3);
    }
    100% {
      -o-transform: scale(1);
    }
  }

  @keyframes upper-lip-move {
    0% {
      transform: scale(1);
    }
    65% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
}

@keyframes pulse {
  0% {
    transform: rotate(-45deg) scale(1);
    opacity: 0;
  }
  10% {
    transform: rotate(-45deg) scale(1.3);
  }
  20% {
    transform: rotate(-45deg) scale(0.9);
  }
  30% {
    transform: rotate(-45deg) scale(1.2);
  }
  40% {
    transform: rotate(-45deg) scale(0.9);
  }
  50% {
    transform: rotate(-45deg) scale(1.3);
    opacity: 1;
  }
  60% {
    transform: rotate(-45deg) scale(0.95);
  }
  70% {
    transform: rotate(-45deg) scale(1);
  }
  100% {
    transform: rotate(-45deg) scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 420px) {
  .love-card {
    width: 25rem;
    // height: 50rem;

    .emoji-head {
      display: none;
    }

    .card-heading {
      font-size: 2rem;
    }

    .btn {
      width: 10rem;
      height: 3rem;
    }
  }
}
